In [7]:
n = int(input("Enter n = ")) 
for i in range(n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter n = 5
*
* *
* * *
* * * *
* * * * *

In [6]:
n = int(input("Enter n = ")) 
for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

Enter n = 5
          *
        * *
      * * *
    * * * *
  * * * * *

In [12]:
n = int(input("Enter n = ")) 
for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print("",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

Enter n = 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [13]:
n = int(input("Enter n = ")) 
for row in range(1,n+1):
    for col in range(n+1,row,-1):
        print("*",end=" ")
    print()

Enter n = 5
* * * * *
* * * *
* * *
* *
*

In [21]:
for row in range(7):
    for col in range(5):
        if col == 0 or (row == col + 2 and col > 1) or (row < 4 and col == 4 - row):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*  *
* *
**
* *
*  *
*   *

In [4]:
s = input("Enter String = ")
l = len(s)
for row in range(0,l):
    for col in range(0,row+1):
        print(s[col],end="")
    print()

Enter String = jarvis
j
ja
jar
jarv
jarvi
jarvis

In [5]:
n = int(input("Enter n = "))
for row in range(0,n):
    for col in range(0,n-row):
        print(n-row,end="")
    print()

Enter n = 5
55555
4444
333
22
1

In [6]:
n = int(input("Enter n = "))
for row in range(1,n+1):
    for col in range(1,2*n):
        if row == n or row+col == n+1 or col-row == n-1:
            print("*",end="")        
        else:
            print(end=" ")
    print()

Enter n = 7
      *
     * *
    *   *
   *     *
  *       *
 *         *
*************

In [7]:
n = int(input("Enter n = "))  
for row in range(1,n+1):
    for col in range(1,2*n):
        if row == n or col+row == n+1 or col-row == n-1:
            print("*",end="")
        else:
            print(end=" ")
    print()

Enter n = 6
     *
    * *
   *   *
  *     *
 *       *
***********

In [11]:
num = int(input("Enter the value of n = "))
# n is starting number
n = 1
count = int((num+1)/2)
low = 0
high = num-1

a = [[0 for i in range(num)] for j in range(num)]

for i in range(count):
    for j in range(low,high+1):
        a[i][j] = n
        n += 1
    for j in range(low+1,high+1):
        a[j][high] = n
        n += 1
    for j in range(high-1,low-1,-1):
        a[high][j] = n
        n += 1
    for j in range(high-1,low,-1):
        a[j][low] = n
        n += 1
    low += 1
    high -= 1
    
for i in range(num):
    for j in range(num):
        print(a[i][j],end="\t")
    print()

Enter the value of n = 6
1	2	3	4	5	6
20	21	22	23	24	7
19	32	33	34	25	8
18	31	36	35	26	9
17	30	29	28	27	10
16	15	14	13	12	11

In [12]:
n = int(input("Enter the value of n = ")) 
for i in range(1,n+1):
    for j in range(1,n+1-i):
        print(end=" ")
    for j in range(i,0,-1):
        print(j,end="")
    for j in range(2,i+1):
        print(j,end="")
    print()

Enter the value of n = 6
     1
    212
   32123
  4321234
 543212345
65432123456

In [26]:
x = 1    
n = int(input("Enter the value of n = ")) 
for i in range(1,n+1):
    for j in range(1,n+1-i):
        print(format(" ","<3"),end="")
    for j in range(1,i+1):
        print(format(x,"<6"),end="")
        x += 1
    print()

Enter the value of n = 10
                           1
                        2     3
                     4     5     6
                  7     8     9     10
               11    12    13    14    15
            16    17    18    19    20    21
         22    23    24    25    26    27    28
      29    30    31    32    33    34    35    36
   37    38    39    40    41    42    43    44    45
46    47    48    49    50    51    52    53    54    55