In [1]:
print("Welcome to world to python")

Welcome to world to python

In [2]:
#special character
print("Hello\nLets learn about new line")

Hello
Lets learn about new line

In [3]:
# TRY PRINTING ANYTHING
print("Hello,\n\tClass")

Hello,
	Class

# Heading trial

Hi there

<b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>

# Variable

In [4]:
x=5
y="Jarvis"

In [5]:
x

5

In [6]:
# Its case sensitive
X

NameError: name 'X' is not defined

In [7]:
# CONSIDER VARIABLE a AND b AND ASSIGN A FLOAT VALUE TO a AND STRING TO b AND PRINT IT
a = 5.0
b = "Hello"
print(a,b)

5.0 Hello

In [8]:
# use keyword - will throw error
try = 1

SyntaxError: invalid syntax (<ipython-input-8-bff33500a435>, line 2)

In [9]:
#Get all keywords
import keyword
print(keyword.kwlist)
print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  35

In [ ]:
# TRY THE SAME CODE AS ABOVE TO GET LIST OF KEYWORDS AND TOTAL NUMBER OF KEYWORDS

In [10]:
# cant use special character
a! = 1
b@ = 2

SyntaxError: invalid syntax (<ipython-input-10-102edfad5eae>, line 2)

In [12]:
# WILL RETURN TYPE
x = 1.0
type(x)

float

In [13]:
y = "Jarvis"
type(y)

str

In [15]:
# ASSIGN ANY VALUE OF a AND b AND CHECK TYPE FOR VALUE ASSIGNED
a = 2.7272
b = "New string"

print(type(a))
print(type(b))

<class 'float'>
<class 'str'>

In [16]:
#assign value to multiple variable
a,b,c=2

TypeError: cannot unpack non-iterable int object

In [17]:
a,b,c=2,3,4
a,b,c

(2, 3, 4)

In [20]:
# TRY ASSIGNING ANY VALUE(INT OR FLOAT) TO VARIABLES m,n,p AND PRINT SUM OF VARIABLE AND CHECK FOR TYPE OF SUM
m,n,p = 2.0,1,8.44
sum = m+n+p
print(sum)
print(type(sum))

11.44
<class 'float'>

<b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>

# Numeric operations

In [21]:
a = 10
b = 20
print(a + b)  

print(a - b) 
print(a * b) 
print(a / b)
print(a // b) #FLOOR DIVISION
print(a % b) 
print(a ** b) #EXPONENT

30
-10
200
0.5
0
10
100000000000000000000

In [22]:
# TRY ANY 2 FUNCTIONS
a,b = 3,2
print(a//b)

1

In [24]:
# BEDMAS (BRACKET-EXPONENT-DIVISION-MULTIPLY-ADD-SUB)
a = 4 * 5 - 9 + 6 / 7
print(round(a,2))

11.86

In [26]:
a = 5
b = 4
# INCREMENTING
a+=2
#DECREMENTING
b-=1

print(a)
print(b)

7
3

In [27]:
# TRY INCREMENT AND DECREMENT
a = -10
a+=11
print(a)

1

<b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>

# Logical

In [28]:
#Logical
a,b = 2,2
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)

True
False
True
False
True

In [29]:
a = True
type(a)

bool

In [30]:
a

True

In [31]:
#ASSIGN VALUES TO  a AND b CHECK IF THEY ARE EQUAL
a = 9.99
b = 9.98
a<b

False

<b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>

# String Values and Operator

In [32]:
x = 'Jarvis'
y = "GEEKSHUB"
x,y

('Jarvis', 'GEEKSHUB')

In [33]:
len(x),len(y)

(6, 8)

In [35]:
# TUPLES VALUE CAN'T BE MODIFIED
b = ('Jarvis', 'GEEKSHUB')
b[0] = 'hello'
#b[0]

TypeError: 'tuple' object does not support item assignment

In [37]:
# LISTS VALUE CAN BE MODIFIED
b = ['Jarvis', 'GEEKSHUB']
b[0] = 'hello'
print(b)

['hello', 'GEEKSHUB']

In [38]:
small = "hello lets convert to upper"
print(small.upper()) 


large = "HELLO LETS CONVERT TO LOWER"
print(large.lower())

HELLO LETS CONVERT TO UPPER
hello lets convert to lower

In [39]:
# TRY UPPER OR LOWER
a = 'hello'
print(a.upper())

HELLO

In [40]:
# RSTRIP = RIGHT_STRIP
#LSTRIP = LEFT_STRIP
some_sentence = "There is a space at the end eeeeeeeeeeee"
print(some_sentence)
print(some_sentence.rstrip('e'))
print(some_sentence.lstrip('T'))

There is a space at the end eeeeeeeeeeee
There is a space at the end
here is a space at the end eeeeeeeeeeee

In [41]:
some_sentence = "There is a space at the end eeeeeeeeeeee"
print(some_sentence.replace('space ','####'))

There is a ####at the end eeeeeeeeeeee

In [42]:
increment = '9812280224.'
print(increment)
print(increment.rstrip('.'))

9812280224.
9812280224

In [43]:
fn = "aRnAV    " 
ln = "kUMar  "
print(fn,ln)
print(fn.rstrip(' ').title(),ln.rstrip(' ').title())

aRnAV     kUMar
Arnav Kumar

In [ ]:
# TRY IMPLEMENTING THE ABOVE CODE

In [44]:
start = "   There is space at the start"
print(start)
print(start.lstrip())

   There is space at the start
There is space at the start

In [45]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))
#print(num_with_chars.replace('4',''))

444

In [46]:
val = "4 apples"
#print(type(val))
no_of_apples = val[0] 
print('number of apples is', no_of_apples)

number of apples is 4

In [47]:
print("height {}".format(4*3))

height 12

In [48]:
# TRY PRINTING ANYTHING USING FORMAT METHOD
print("There are {} apples in the basket in which {} are rotten and price of each was {}".format(10,5,15))

There are 10 apples in the basket in which 5 are rotten and price of each was 15

In [50]:
# LIST_NAME[STARTING_INDEX : ENDING_INDEX]  ---> INDEX ALWAYS STARTS FROM 0 BY DEFAULT
val = "4 apples"
what = val[2:5]
print(what)

app

In [51]:
what.replace("a","$#@")

'$#@pp'

In [52]:
#slicing by specifying start and end index
# ending is always (value-1) so in this case we stop at index 4
print(val[2:5])

app

In [53]:
# PRINT ONLY 5 ORANGES
batch = "5 oranges 3 monkeys and"

In [54]:
# REVERSSE INDEXING
print(batch[ :-2])

5 oranges 3 monkeys a

In [55]:
animals = batch[10:-2]
print(animals)

3 monkeys a

In [56]:
#[STARTIG_INDEX : ENDING_INDEX : STEPS]
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [57]:
# PRINT ODD NUMBERS

In [58]:
first_name = "geekshub"
last_name = "package"

In [59]:
name = first_name + " " + last_name
print(name,"\N{COPYRIGHT SIGN}")

geekshub package ©

In [61]:
# string operation
name = first_name + " " + last_name + " pvt Ltd"
print(name,"\N{COPYRIGHT SIGN}")

geekshub package pvt Ltd ©

In [62]:
"""
multi-line comments
"""
first_name.capitalize()

'Geekshub'

In [63]:
age = 20
my_age = ("I am "+ str(age) + " years old")
print(my_age)

I am 20 years old

In [64]:
My_age = "I am {} years old".format(age)
My_age

'I am 20 years old'

In [65]:
A = "Data"
B = "Analysis"
C = "Numpy"

print("{} {} using {}".format(A,B,C))

Data Analysis using Numpy

In [66]:
#concat and update
name += ' ' + my_age
print(name)

geekshub package pvt Ltd I am 20 years old

In [67]:
# MEMBERSHIP OPERATOR ( IN & NOT-IN )

x="ment"
y="assignment"

print("Actual = ",x in y)
print("Contradiction = ",x not in y)

Actual =  True
Contradiction =  False

<b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>

# Creating Functions

In [72]:
# Documentation
def triple(num,string):
    '''
    function to triple the number and print a string
    '''
    print(string)
    return 3 * num

In [73]:
#triple(10)
#triple(int(10))
#triple(float(10))
#triple(str(10))
triple(10,'Hello world!!')

Hello world!!

30

In [74]:
print(triple.__doc__)

    function to triple the number and print a string

In [75]:
# FACTORIAL USING RECURSION
def factorial(n):
    if n==1 or n==0:
        return 1
    else:
        return n*factorial(n-1)


fact = factorial(5)
print(fact)

120

In [77]:
n = int(input("Enter n = "))
factorial(n)

Enter n = 8

40320

In [78]:
# WRITE A FUNCTION WHICH ACCEPTS FIRST_NAME & LAST_NAME IN ANY CASE AND PRINT PROPER FORMAT USING ".title()"" 
def somefunc(fn,ln):
    '''
    This function givs back name in a proper format
    '''
    return fn.title()+" "+ln.title()

In [79]:
fname = input("Enter first name = ")
lname = input("Enter last name = ")
print(somefunc(fname,lname))

Enter first name = maLTESH
Enter last name = kUMAR
Maltesh Kumar

<b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>

# Looping

# If else Condition

In [ ]:
a=5
if a>50:
    print('a is larger than 50')
else:
    difference=50-a
    #print('a is smaller than 50 by ',str(difference),' units')
    #print('a is smaller than 50 by '+str(difference)+' units')

In [ ]:
# Elif
num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num == 0:
    print("It is a ZERO")
else:
    print("Negative Number")

In [ ]:
# Find the smallest number out of 3 values
n1 = 2
n2 = 60
n3 = 78

if (n1 <= n2) and (n1 <= n3):           #logical operator   and
    smallest = n1
elif (n2 <= n1) and (n2 <= n3):
    smallest = n2
else:
    smallest = n3
print("Smallest element among three numbers is: {}".format(smallest))

In [1]:
# TRY ANY SMALL PROGRAM USING CONDITION STATEMENT

In [ ]:
if None:
    print("Is True")
else:
    print("Is False")

<b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>

# For loop

In [ ]:
subjects = ["maths","science","hindi","history"]

In [ ]:
print(len(subjects[0]))
print(len(subjects[1]))
print(len(subjects[2]))
print(len(subjects[3]))

In [ ]:
for i in range(len(subjects)):
    print(subjects[i])

In [ ]:
for i in subjects:
    print(i)

In [ ]:
for i in range(1,10,3):
    print(i)

In [ ]:
l1 = ["eat","sleep","repeat"]

In [ ]:
for ele in enumerate(l1): 
    print(ele)

In [ ]:
for ele in enumerate(l1,100): 
    print(ele)

In [ ]:
my_string = "Hello from Python"

for alphabet in enumerate(my_string):
    print(alphabet)

In [ ]:
# while loop
num = int(input("Enter a number: "))        #convert string to int


isDivisible = False;

i=2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print ("{} is divisible by {}".format(num,i) )
    i += 1;
    
if isDivisible:
    print("{} is NOT a Prime number".format(num))
else:
    print("{} is a Prime number".format(num))

In [ ]:
# WRITE A PROGRAM USING ANY LOOP AND PRINT LENGTH OF TOTAL NUMBER OF INTEGERS DIVISIBLE BY BOTH 5 & 7 IN RANGE OF 0-1000

In [ ]:
squares_list = [x**2 for x in range(1,10)]
print(squares_list)

In [ ]:
# TRY ABOVE CODE FOR CUBE

In [ ]:
# CREATING A MATRIX USING FOR LOOP
row = 2
col = 5
matrix = [[1 for i in range(col)]for j in range(row)]
print(matrix)

In [ ]:
# TRY CREATING MATRIX OF 4X8 WITH NUMBER 99

<b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>

# Split and Join

In [ ]:
mail = "Hey guys, you are doing an awesome job. Keep it up."

In [ ]:
words = mail.split(" ") 
print(words)

In [ ]:
new_mail = " ".join(words)
print(new_mail)

In [ ]:
# TRY SPLIT AND JOIN WITH YOUR OWN EXAMPLE

<b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>

# Dictionary

In [ ]:
empty_dict = {}
print(type(empty_dict))

In [ ]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
for a,b in d.items():
    print(a,":",b)

In [ ]:
animal = d['animal']
print(animal)

In [ ]:
# ALTER VARIABLE
d['earth'] = 36
print(d)

In [ ]:
# ADD NEW KEY AND VALUE
d['Profession'] = 'Singer'
print(d)

In [ ]:
# CREATING DICT HAVING SQUARES OF A NUMBER
new_dict = {}
for i in range(1,11):
    new_dict[i] = i**2
print(new_dict)

In [ ]:
# CREATE A DICT HAVING CUBE OF NUMBER FROM RANGE 1,10

# Lambda - Anonymous Function

- LAMBDA parameter : return_function
- LAMBDA parameter : return_function, list_name

In [ ]:
y = lambda x: x**2
print(y(8))

In [ ]:
name = lambda fn,ln: fn.title()+" "+ln.title()
print(name('aRNAV','kUMAR'))

In [ ]:
# TRY PRINTING FIRST_NAME IN UPPERCASE AND LAST_NAME IN LOWER CASE USING LAMBDA

# Map

In [ ]:
def sq(x):
    return x**2

In [ ]:
a = [2,4,6]
print(list(map(lambda x: x**2, a)))

In [ ]:
a = [2,4,6]
print(list(map(sq, a)))

In [ ]:
# USING MAP TRY PRINTING LOG VALUES OF [1,2,3,4,5,6,7,11,15] 
# IMPORT MATH 
# MATH.LOG(VARIABLE)

<b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>